.stepper-indicator {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 70%;
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.step-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
}

.step-circle.completed {
  background-color: green;
}
.step-circle.active {
  background-color: blue;
}
.step-circle.pending {
  background-color: #ccc;
}

.step-line {
  flex: 1;
  height: 2px;
  margin: 0 10px;
}
.step-line.completed {
  background-color: green;
}
.step-line.pending {
  background-color: #ccc;
}

.step-label {
  margin-top: 8px;
  font-size: 14px;
}
.step-label.completed {
  color: green;
}
.step-label.active {
  color: blue;
}
.step-label.pending {
  color: #555;
}
